body {
  font-size: 100%;
  color: hsl(37, 37%, 25%);
  background-color: #f2e0c4;
  background-image: url("../image/Melamine-wood-005.png");
}

a {
  text-decoration: none!important;
  color: inherit;
  
  &:hover {
  　text-decoration: none!important;
  　color: inherit;
  }
  &:active {
    opacity: 0.9;
  　text-decoration: none;
  }
}

li {
  list-style: none;
}

/* ヘッダー
------------------------------------------------------------------*/
header {
  background-image: url("../image/IMG_5236.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 150px;
}

 .header-nav {
   height: 100%;
   width: 75%;
   margin: 0 auto;
   display: flex;
  justify-content: space-between;
 }
 
 .header-logo {
    height: 100%;
    position: relative;
    font-weight: normal;
    
    a {
      position: absolute;
      bottom: -8px;
      color: #fff;
      font-size: 4.68rem;
      transform-origin: bottom;
      transform: scaleY(1.3);
    }
}

.header-right {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
  
  li > a {
    color: #fff;
    font-size: 1.25rem;
  }
}
 
.dropdown-menu {
  background-color: #fbfaf9;
  border-color: #8c8273;
}
.dropdown-item {
  color: hsl(37, 37%, 25%);
  
  &:hover {
    background-color: #e5e8e3;
    color: hsl(37, 37%, 25%);
  }
  &:active {
    background-color: #e5e8e3;
  }
}

.menu-icon {
  display: none;
}
.overlay {
  opacity: 0;
  pointer-events: none;
}


/* メイン
---------------------------------------------------------------------- */
main {
  padding: 50px 0;
}

/* プロフィール */
.profile {
    width: 70%;
    background: #f7f5f2;
    margin: 0 auto;
    border: 1px solid #8c8273;
    border-radius: 6px;
    border-bottom: 3px solid #572828;
    
    display: flex;
    padding: 30px 30px 40px 30px;
}

.action {
    text-align: right;
}
.action-icon {
  font-size: 1.875rem;
  color: #bababa;
  
  &:hover {
    color: #bababa;
  }
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
.icon-favorite {
  color: #fad400;
}

.user-img {
  width: 280px;
  height: 280px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 40px;
  position: relative;
    img {
      max-width: 90%;
      max-height: 90%;
      padding: 2px;
      background-color: #fff;
      border: 1px solid #b09e99;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

.profile-content {
    flex: 1;
    color: #572828;
}

.user-name {
    font-size: 2rem;
    color: #ad2b00;
}
.introduction {
    font-size: 1.125rem;
    margin: 0;
}


/* 投稿記事 */
.partition {
  width: 70%;
  background: #e3d2c1;
  margin: 0 auto;
  border: 1px solid #8c8273;
  border-radius: 6px 6px 0 0;
  line-height: 2;
  text-align: center;
}

.article-wrapper {
  width: 70%;
  margin: 0 auto;
}

.article {
  background: #f7f5f5;
  border: 1px solid #8c8273;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  
  .article-img {
    width: 170px;
    height: 170px;
    margin-right: 40px;
  }
  img {
    height: 100%;
    width: 100%;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #b0a99d;
    object-fit: cover;
  }
  
  &:hover {
    color: inherit;
  }
}
.article-txt {
  flex: 1;
  
  p {
    margin-bottom: 8px;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.book-title {
  font-size: 25px;
}
.body {
  color: hsl(37, 10%, 60%);
}

.no-articles {
  background: #f7f5f5;
  margin: 0 auto;
  border: 1px solid #8c8273;
  border-radius: 6px;
  text-align: center;
  padding: 25px 0;
  color: hsl(37, 10%, 60%);
}


/* レスポンシブデザイン
---------------------------------------------------------------------------- */
/*medium
-----------------------*/
@media (max-width: 1025px) {
  /*ヘッダー*/
  .header-nav {
    width: 95%;
  }
  /*メイン*/
  .profile, .partition, .article-wrapper {
    width: 90%;
  }
}


/*small
-----------------------*/
  @media (max-width: 650px) {
  body {
    font-size: 0.8rem;
  }
  /*ヘッダー*/
  header {
    height: 125px;
    background-size: cover;
  }
  .header-logo {
    a {
     font-size: 3.1rem;
     bottom: -5px;
    }
  }
  
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
    font-size: 2rem;
    color: #fff;
    align-self: flex-end;
    cursor: pointer;
  }
  
  #close {
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 2.2rem;
    cursor: pointer;
  }
  
  .overlay.show {
    opacity: 1;
    transform: translateX(0);
    transition: opacity .4s, transform .4s;
    pointer-events: auto;
  }
  .overlay.hide {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity .3s ease-in, transform .4s;
  }
  
  .overlay{
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ede1ce;
    color: hsl(37, 37%, 25%);
    z-index: 5;
    
    transform: translateX(100%);
    transition: transform 0.4s;
  }
  
  .overlay .auth-name {
    font-size: 0.875rem;
    border-bottom: 1px solid #c4beb3;
    padding: 75px 0 2px 5px;
    margin-bottom: 0;
  }
  .overlay .sp-nav {
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
    
    li {
      line-height: 4;
      border-bottom: 1px solid #c4beb3;
    }
    li a {
      display: block;
    }
  }
  .overlay .sp-link {
    
    width: 100%;
    height: 100%;
    
    &:hover {
      color: inherit;
    }
    &:active {
      color: inherit;
      opacity: 0.9;
    }
  }
  .sp-logout {
    color: inherit;
    background-color: inherit;
    border: none;
    
    &:active, &:focus {
    outline: 0;
    }
  }
  
  /*メイン
  ------------------------------*/
  main {
    padding: 25px 0;
  }
  
  /*プロフィール*/
  .profile {
    flex-direction: column;
    padding: 40px 20px 30px 20px;
    text-align: center;
    position: relative;
  }
  
  .action-icon {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  
  .user-img {
    width: 220px;
    height: 220px;
    margin-right: 0;
    margin: 0 auto;
  }
  
  .user-name {
    font-size: 1.25rem;
    margin: 8px 0;
  }
  .introduction {
    font-size: 0.8rem;
  }
  
  /*投稿記事*/
  .article {
    flex-direction: column;
    padding: 20px;
    
    .article-img {
      width: 130px;
      height: 130px;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  .article-txt {
    text-align: center;
    
    p {
      font-size: 0.625rem;
      margin-bottom: 0;
    }
  }
  
  .book-title {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .subtitle {
    padding-bottom: 5px;
  }
  
  .no-articles {
    padding: 18px 0;
  }
}