
body {
  font-size: 100%;
  color: hsl(37, 37%, 25%);
  background-color: #f2e0c4;
  background-image: url("../image/Melamine-wood-005.png");
}

a {
  text-decoration: none!important;
  color: inherit;
  
  &:hover {
  　text-decoration: none!important;
  　color: inherit;
  }
  &:active {
    opacity: 0.9;
  　text-decoration: none;
  }
}

li {
  list-style: none;
}

/* ヘッダー
------------------------------------------------------------------*/
header {
  background-image: url("../image/IMG_5236.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 150px;
}

 .header-nav {
   height: 100%;
   width: 75%;
   margin: 0 auto;
   display: flex;
  justify-content: space-between;
 }
 
 .header-logo {
    height: 100%;
    position: relative;
    font-weight: normal;
    
    a {
      position: absolute;
      bottom: -8px;
      color: #fff;
      font-size: 4.68rem;
      transform-origin: bottom;
      transform: scaleY(1.3);
    }
}

.header-right {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
  
  li > a {
    color: #fff;
    font-size: 1.25rem;
  }
}
 
.dropdown-menu {
  background-color: #fbfaf9;
  border-color: #8c8273;
}
.dropdown-item {
  color: hsl(37, 37%, 25%);
  
  &:hover {
    background-color: #e5e8e3;
    color: hsl(37, 37%, 25%);
  }
  &:active {
    background-color: #e5e8e3;
  }
}

.menu-icon {
  display: none;
}
.overlay {
  opacity: 0;
  pointer-events: none;
}


/*  メイン
------------------------------------------------------ */
main {
  padding: 50px 0;
}

.container {
  padding: 0;
  width: 70%;
  margin: 0 auto;
}

.search-box {
  text-align: center;
  margin-bottom: 50px;
}

.keyword {
  width: 60%;
  outline: 0;
  color: hsl(37, 37%, 25%);
  background-color: #fbfaf9;
  padding: 6px 12px;
  border: 1px solid #8c8273;
  border-radius: 4px 0 0 4px;
  
  &::placeholder {
    color: #c4beb3;
    font-style: oblique;
  }
  
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #e5e8e3 inset;
    -webkit-color: #2b2214;
  }
}

.search-btn {
  outline: 0;
  padding: 6px 12px;
  background-color: hsl(93, 8%, 40%);
  border: 1px solid #8c8273;
  border-left: none;
  border-radius: 0 4px 4px 0;
  color: #fff;
  
  &:active {
    background-color: hsl(93, 8%, 35%);
  }
}

.article {
  background: #f7f5f5;
  border: 1px solid #8c8273;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  
  .article-img {
    width: 170px;
    height: 170px;
    margin-right: 40px;
  }
  img {
    height: 100%;
    width: 100%;
    padding: 2px;
    border: 1px solid #b0a99d;
    background-color: #fff;
    object-fit: cover;
  }
  
  &:hover {
    color: inherit;
  }
}
.article-txt {
  flex: 1;
  
  p {
    margin-bottom: 8px;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.book-title {
  font-size: 25px;
}
.body {
  color: hsl(37, 10%, 60%);
}

.no-articles {
  background: #f7f5f5;
  margin: 0 auto;
  border: 1px solid #8c8273;
  border-radius: 6px;
  text-align: center;
  padding: 25px 0;
  color: hsl(37, 10%, 60%);
}


/* レスポンシブデザイン
---------------------------------------------------------------------------- */
/*medium
-----------------------*/
@media (max-width: 1025px) {
  /*ヘッダー*/
  .header-nav {
    width: 95%;
  }
  /*メイン*/
  .container {
    width: 90%;
  }
}


/*small
-----------------------*/
@media (max-width: 650px) {
  body {
    font-size: 0.8rem;
  }
  
  /*ヘッダー*/
  header {
    height: 125px;
    background-size: cover;
  }
  .header-logo {
    a {
     font-size: 3.1rem;
     bottom: -5px;
    }
  }
  
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
    font-size: 32px;
    color: #fff;
    align-self: flex-end;
    cursor: pointer;
  }
  
  #close {
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 2.2rem;
    cursor: pointer;
  }
  
  .overlay.show {
    opacity: 1;
    transform: translateX(0);
    transition: opacity .4s, transform .4s;
    pointer-events: auto;
  }
  .overlay.hide {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity .3s ease-in, transform .4s;
  }
  
  .overlay{
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ede1ce;
    color: hsl(37, 37%, 25%);
    z-index: 5;
    
    transform: translateX(100%);
    transition: transform 0.4s;
  }
  
  .overlay .auth-name {
    font-size: 0.875rem;
    border-bottom: 1px solid #c4beb3;
    padding: 75px 0 2px 5px;
    margin-bottom: 0;
  }
  .overlay .sp-nav {
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
    
    li {
      line-height: 4;
      border-bottom: 1px solid #c4beb3;
    }
    li a {
      display: block;
    }
  }
  .overlay .sp-link {
    width: 100%;
    height: 100%;
    
    &:hover {
      color: inherit;
    }
    &:active {
      color: inherit;
      opacity: 0.9;
    }
  }
  .sp-logout {
    color: inherit;
    background-color: inherit;
    border: none;
    
    &:active, &:focus {
    outline: 0;
    }
  }
  
  /*メイン*/
  main {
    padding: 25px 0;
  }
  
  .search-box {
    margin-bottom: 25px;
  }
  .keyword {
    width: 75%;
  }
  
  .article {
    flex-direction: column;
    padding: 20px;
    
    .article-img {
      width: 130px;
      height: 130px;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  .article-txt {
    text-align: center;
    
    p {
      font-size: 0.625rem;
      margin-bottom: 0;
    }
  }
  
  .book-title {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .subtitle {
    padding-bottom: 5px;
  }
  
  .no-articles {
    padding: 18px 0;
  }
}