@charset "UTF-8";
body {
  background-color: #f2e0c4;
  background-image: url("../image/Melamine-wood-005.png");
  color: #574528;
  font-size: medium;
}

a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  　text-decoration: none !important;
  　color: inherit;
}
a:active {
  opacity: 0.9;
  　text-decoration: none;
}

li {
  list-style: none;
}

/* ヘッダー
------------------------------------------------------------------*/
header {
  background-image: url("../image/IMG_5236.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 150px;
}

.header-nav {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 100%;
  position: relative;
  font-weight: normal;
}
.header-logo a {
  position: absolute;
  bottom: -8px;
  color: #fff;
  font-size: 75px;
  transform-origin: bottom;
  transform: scaleY(1.3);
}

.header-right {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
}
.header-right li > a {
  color: #fff;
  font-size: 20px;
}

.dropdown-menu {
  background-color: #fbfaf9;
  border-color: #8c8273;
}

.dropdown-item {
  color: #574528;
}
.dropdown-item:hover {
  background-color: #e5e8e3;
  color: #574528;
}
.dropdown-item:active {
  background-color: #e5e8e3;
}

.menu-icon {
  display: none;
}

.overlay {
  opacity: 0;
  pointer-events: none;
}

/* メイン
-----------------------------------------------------------*/
main {
  margin: 50px 0;
}

.container {
  width: 65%;
  background: #f7f5f2;
  margin: 0 auto;
  border: 1px solid #8c8273;
  border-radius: 6px;
}

.content-title {
  font-size: 28px;
  padding: 30px 0 10px 5px;
  border-bottom: 1px solid #8c8273;
}

.error-message {
  color: red;
  font-size: 13px;
}

.top {
  display: flex;
  padding: 30px 35px;
  border-bottom: 1px solid #dbd6d3;
}

.select-img img {
  width: 250px;
  height: 250px;
  padding: 2px;
  border: 1px solid #b0a99d;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 40px;
}
.select-img input {
  width: 100%;
  font-size: 14.5px;
  display: block;
  margin-top: 8px;
}
.select-img input:focus {
  outline: 0;
}

.top-txt {
  flex: 1;
  margin: 30px 0;
}
.top-txt input {
  width: 85%;
  outline: 0;
  background-color: #fbfaf9;
  color: #574528;
  padding: 6px 12px;
  border: 1px solid #dbd6d3;
  border-radius: 4px;
  margin-bottom: 30px;
}
.top-txt input::-moz-placeholder {
  color: #c4beb3;
  font-style: oblique;
}
.top-txt input:-ms-input-placeholder {
  color: #c4beb3;
  font-style: oblique;
}
.top-txt input::placeholder {
  color: #c4beb3;
  font-style: oblique;
}
.top-txt input:focus {
  border-color: #b5ac9f;
}
.top-txt input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e5e8e3 inset;
  -webkit-color: #2b2214;
}

.below {
  text-align: center;
}

.body {
  width: 100%;
  outline: 0;
  background-color: #fbfaf9;
  color: #574528;
  padding: 25px;
  border: 1px solid #dbd6d3;
  border-radius: 4px;
  margin-top: 15px;
}
.body::-moz-placeholder {
  color: #c4beb3;
  font-style: oblique;
}
.body:-ms-input-placeholder {
  color: #c4beb3;
  font-style: oblique;
}
.body::placeholder {
  color: #c4beb3;
  font-style: oblique;
}
.body:focus {
  border-color: #b5ac9f;
}
.body:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e5e8e3 inset;
  -webkit-color: #2b2214;
}

.submit-btn {
  padding: 6px 12px;
  background-color: #656e5e;
  border: 1px solid #8c8273;
  border-radius: 4px;
  color: #fff;
  margin: 25px 0 40px 0;
  display: inline-block;
}
.submit-btn:hover {
  opacity: 0.9;
}
.submit-btn:active, .submit-btn:focus {
  background-color: #596052;
  outline: 0;
}

/* レスポンシブデザイン
---------------------------------------------------------------------------- */
/*medium
-----------------------*/
@media (max-width: 1025px) {
  /*ヘッダー*/
  .header-nav {
    width: 95%;
  }

  /*メイン*/
  .container {
    width: 90%;
  }
}
/*small
-----------------------*/
@media (max-width: 650px) {
  body {
    font-size: small;
  }

  /*ヘッダー*/
  header {
    height: 125px;
    background-size: cover;
  }

  .header-logo a {
    font-size: 50px;
    bottom: -5px;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 32px;
    color: #fff;
    align-self: flex-end;
    cursor: pointer;
  }

  #close {
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 35px;
    cursor: pointer;
  }

  .overlay.show {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s, transform 0.4s;
    pointer-events: auto;
  }

  .overlay.hide {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease-in, transform 0.4s;
  }

  .overlay {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ede1ce;
    color: #574528;
    z-index: 5;
    transform: translateX(100%);
    transition: transform 0.4s;
  }

  .overlay .auth-name {
    font-size: 14px;
    border-bottom: 1px solid #c4beb3;
    padding: 75px 0 2px 5px;
    margin-bottom: 0;
  }

  .overlay .sp-nav {
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .overlay .sp-nav li {
    line-height: 4;
    border-bottom: 1px solid #c4beb3;
  }
  .overlay .sp-nav li a {
    display: block;
  }

  .overlay .sp-link {
    width: 100%;
    height: 100%;
  }
  .overlay .sp-link:hover {
    color: inherit;
  }
  .overlay .sp-link:active {
    color: inherit;
    opacity: 0.9;
  }

  /*メイン*/
  main {
    margin: 25px 0;
  }

  .container {
    padding: 0;
  }

  .content-title {
    width: 91%;
    margin: 0 auto 8px auto;
    font-size: 18px;
    padding: 20px 0 10px 5px;
  }

  .top {
    display: block;
    padding: 10px 20px;
    text-align: center;
  }

  .select-img {
    width: 200px;
  }
  .select-img img {
    width: 100%;
    height: 200px;
    margin: 0;
  }
  .select-img input {
    font-size: 10px;
    padding-left: 10px;
  }

  .top-txt {
    margin: 0;
  }
  .top-txt input {
    margin-bottom: 8px;
  }

  .body {
    width: 95%;
    padding: 15px;
    margin-top: 8px;
  }

  .submit-btn {
    margin: 5px 0 20px 0;
  }
}