@charset "UTF-8";
body {
  font-size: 100%;
  color: #574528;
  background-color: #f2e0c4;
  background-image: url("../image/Melamine-wood-005.png");
}

a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  　text-decoration: none !important;
  　color: inherit;
}
a:active {
  opacity: 0.9;
  　text-decoration: none;
}

li {
  list-style: none;
}

/* ヘッダー
------------------------------------------------------------------*/
header {
  background-image: url("../image/IMG_5236.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 150px;
}

.header-nav {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 100%;
  position: relative;
  font-weight: normal;
}
.header-logo a {
  position: absolute;
  bottom: -8px;
  color: #fff;
  font-size: 4.68rem;
  transform-origin: bottom;
  transform: scaleY(1.3);
}

.header-right {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
}
.header-right li > a {
  color: #fff;
  font-size: 1.25rem;
}

.dropdown-menu {
  background-color: #fbfaf9;
  border-color: #8c8273;
}

.dropdown-item {
  color: #574528;
}
.dropdown-item:hover {
  background-color: #e5e8e3;
  color: #574528;
}
.dropdown-item:active {
  background-color: #e5e8e3;
}

.menu-icon {
  display: none;
}

.overlay {
  opacity: 0;
  pointer-events: none;
}

/* メイン
-------------------------------------------------------------- */
main {
  padding: 50px 0;
}

.content-title {
  width: 70%;
  margin: 0 auto;
  background: #f7f5f5;
  border: 1px solid #8c8273;
  border-radius: 6px;
  font-size: 1.75rem;
  padding: 30px 0 10px 15px;
}

.favorite-wrapper {
  width: 70%;
  margin: 0 auto;
}

.favorite-user {
  background: #f7f5f5;
  padding: 15px 25px;
  border: 1px solid #8c8273;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.favorite-user .user-img {
  width: 130px;
  height: 130px;
  margin-right: 40px;
}
.favorite-user img {
  height: 100%;
  width: 100%;
  padding: 2px;
  background-color: #fff;
  border: 1px solid #b0a99d;
  -o-object-fit: cover;
     object-fit: cover;
}
.favorite-user:hover {
  color: inherit;
}

.txt {
  flex: 1;
}

.user-name {
  font-size: 1.5rem;
  color: #e66300;
}

.introduction {
  margin-bottom: 8px;
}

.no-favorites {
  width: 70%;
  background: #f7f5f5;
  margin: 0 auto;
  border: 1px solid #8c8273;
  border-radius: 6px;
  text-align: center;
  padding: 25px 0;
  color: #a39b8f;
}

/* レスポンシブデザイン
---------------------------------------------------------------------------- */
/*medium
-----------------------*/
@media (max-width: 1025px) {
  /*ヘッダー*/
  .header-nav {
    width: 95%;
  }

  /*メイン*/
  .content-title, .favorite-wrapper, .no-favorites {
    width: 90%;
  }
}
/*small
-----------------------*/
@media (max-width: 650px) {
  body {
    font-size: 0.8rem;
  }

  /*ヘッダー*/
  header {
    height: 125px;
    background-size: cover;
  }

  .header-logo a {
    font-size: 3.1rem;
    bottom: -5px;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 2rem;
    color: #fff;
    align-self: flex-end;
    cursor: pointer;
  }

  #close {
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 2.2rem;
    cursor: pointer;
  }

  .overlay.show {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s, transform 0.4s;
    pointer-events: auto;
  }

  .overlay.hide {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease-in, transform 0.4s;
  }

  .overlay {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ede1ce;
    color: #574528;
    z-index: 5;
    transform: translateX(100%);
    transition: transform 0.4s;
  }

  .overlay .auth-name {
    font-size: 0.875rem;
    border-bottom: 1px solid #c4beb3;
    padding: 75px 0 2px 5px;
    margin-bottom: 0;
  }

  .overlay .sp-nav {
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .overlay .sp-nav li {
    line-height: 4;
    border-bottom: 1px solid #c4beb3;
  }
  .overlay .sp-nav li a {
    display: block;
  }

  .overlay .sp-link {
    width: 100%;
    height: 100%;
  }
  .overlay .sp-link:hover {
    color: inherit;
  }
  .overlay .sp-link:active {
    color: inherit;
    opacity: 0.9;
  }

  .sp-logout {
    color: inherit;
    background-color: inherit;
    border: none;
  }
  .sp-logout:active, .sp-logout:focus {
    outline: 0;
  }

  /*メイン*/
  main {
    padding: 25px 0;
  }

  .content-title {
    font-size: 1.2rem;
    padding: 20px 0 10px 5px;
  }

  .favorite-user {
    padding: 15px;
  }
  .favorite-user .user-img {
    width: 90px;
    height: 90px;
    margin-right: 15px;
  }

  .user-name {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .introduction {
    font-size: 0.625rem;
    margin-bottom: 0;
  }

  .no-favorites {
    padding: 18px 0;
  }
}