@charset "UTF-8";
body {
  background-image: url("../image/Melamine-wood-005.png");
  color: #574528;
  font-size: medium;
}

.container {
  width: 70%;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  　text-decoration: none !important;
  　color: inherit;
}
a:active {
  opacity: 0.9;
  　text-decoration: none;
}

li {
  list-style: none;
}

input, textarea {
  outline: 0;
  background-color: #f7f5f2;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #b0a99d;
  font-style: oblique;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #b0a99d;
  font-style: oblique;
}
input::placeholder, textarea::placeholder {
  color: #b0a99d;
  font-style: oblique;
}
input:focus, textarea:focus {
  border-color: #ab8771;
}
input:-webkit-autofill, textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e5e8e3 inset;
  -webkit-color: #2b2214;
}

button:active {
  outline: 0;
}

/*  トップページ 
------------------------------------------------------ */
form {
  margin-bottom: 50px;
}

.search {
  text-align: center;
}

.keyword {
  width: 60%;
  padding: 6px 12px;
  border: 1px solid #8c8273;
  border-radius: 4px 0 0 4px;
}

.search-btn {
  padding: 6px 12px;
  background-color: #596052;
  border: 1px solid #8c8273;
  border-left: none;
  border-radius: 0 4px 4px 0;
  color: #fff;
}
.search-btn:active {
  background-color: #4c5346;
}

.article {
  background: #f7f5f2;
  display: flex;
  border: 1px solid #dbd6d3;
  border-radius: 6px;
}
.article .article-item {
  width: 230px;
  margin: 25px auto;
  text-align: center;
}
.article img {
  height: 170px;
  width: auto;
  padding: 2px;
  border: 1px solid #b0a99d;
  border-radius: 4px;
}
.article:hover {
  color: inherit;
}

.article-txt {
  margin: 30px 20px;
  flex: 1;
}
.article-txt p {
  margin-bottom: 8px;
}

.book-title {
  font-size: 25px;
}

.body {
  color: #a39b8f;
}

/* テキスト
----------------------------------------------------------------------------------------------------------*/
/* 画像
--------------------------------------------------*/
/* ボタン
-------------------------------------------------- */