header {
  background-image: url("../image/IMG_5236.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 20vh;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f7efd2;
  color: #7b7b7b;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.select-img:hover {
  opacity: 0.7;
  cursor: pointer;
}