header {
  background-image: url("../image/IMG_5236.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 20vh;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f7efd2;
  color: #7b7b7b;
}

a {
  text-decoration: none;
  color: inherit;
}
/*a:hover {*/
　/*text-decoration: none;*/
 /* color: inherit;*/
/*}*/

.navbar {
  height: 20vh;
  position: relative;
}

.navbar-brand {
  position: absolute;
  bottom: 0;
  color: #fff !important;
}

.navber-nav {
  position: absolute;
  bottom: 0;
}

.nav-link {
  color: #fff !important;
}

.select-img:hover {
  opacity: 0.7;
  cursor: pointer;
}

/*.card-img {*/
/*  max-width: 100%;*/
/*  height: auto;*/
/*}*/