@charset "UTF-8";
body {
  background-image: url("../image/Melamine-wood-005.png");
  color: #574528;
  font-size: medium;
}

input, textarea {
  outline: 0;
  background-color: #f7f5f2;
  padding: 6px 12px;
  border: 1px solid #dbd6d3;
  border-radius: 4px;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #b0a99d;
  font-style: oblique;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #b0a99d;
  font-style: oblique;
}
input::placeholder, textarea::placeholder {
  color: #b0a99d;
  font-style: oblique;
}
input:focus, textarea:focus {
  border-color: #ab8771;
}
input:-webkit-autofill, textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e5e8e3 inset;
  -webkit-color: #2b2214;
}

button:active {
  outline: 0;
}

/* ヘッダー 
-------------------------------------------------*/
header {
  background-image: url("../image/IMG_5236.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 150px;
}

.header-logo {
  width: 75%;
  margin: 0 auto;
  height: 150px;
  position: relative;
  font-weight: normal;
}
.header-logo a {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 75px;
  transform-origin: bottom;
  transform: scaleY(1.3);
}
.header-logo a:hover {
  text-decoration: none;
}

/* ログイン
---------------------------------------------------- */
.container {
  width: 50%;
  background: #f7f5f2;
  margin: 0 auto;
  border: 1px solid #dbd6d3;
  border-radius: 6px;
}

.content-title {
  font-size: 28px;
  padding: 30px 0 10px 0;
  border-bottom: 1px solid #dbd6d3;
}

form {
  text-align: center;
  margin: 40px 0 40px 0;
}

.email, .password {
  margin-bottom: 15px;
  justify-content: center;
}
.email label, .password label {
  width: 130px;
  display: inline-block;
  text-align: right;
  padding-right: 20px;
  margin-bottom: 0;
  line-height: 39px;
}
.email input, .password input {
  width: 270px;
}

.form-check {
  margin-bottom: 8px;
}

.submit-btn {
  padding: 6px 12px;
  background-color: #656e5e;
  border: 1px solid #8c8273;
  border-radius: 4px;
  color: #fff;
}
.submit-btn:active {
  background-color: #596052;
}

.form-check {
  font-size: 14.5px;
}