body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f7efd2;
  color: #7b7b7b;
}

header {
  background-image: url("../image/IMG_5236.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 20vh;
}

.header-nav {
  width: 100vh;
  height: 100%;
  display: inline-flex;
  align-items: flex-end;
}

.header-logo {
  color: #fff !important;
}