@charset "UTF-8";
body {
  font-size: 100%;
  color: #574528;
  background-color: #f2e0c4;
  background-image: url("../image/Melamine-wood-005.png");
}

a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  　text-decoration: none !important;
  　color: inherit;
}
a:active {
  opacity: 0.9;
  　text-decoration: none;
}

li {
  list-style: none;
}

/* ヘッダー 
-------------------------------------------------*/
header {
  background-image: url("../image/IMG_5236.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 150px;
}

.header-nav {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 100%;
  position: relative;
  font-weight: normal;
}
.header-logo a {
  position: absolute;
  bottom: -8px;
  color: #fff;
  font-size: 4.68rem;
  transform-origin: bottom;
  transform: scaleY(1.3);
}

.header-right {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
}
.header-right li > a {
  color: #fff;
  font-size: 1.25rem;
}

.dropdown-menu {
  background-color: #fbfaf9;
  border-color: #8c8273;
}

.dropdown-item {
  color: #574528;
}
.dropdown-item:hover {
  background-color: #e5e8e3;
  color: #574528;
}
.dropdown-item:active {
  background-color: #e5e8e3;
}

.menu-icon {
  display: none;
}

.overlay {
  opacity: 0;
  pointer-events: none;
}

/* メイン
---------------------------------------------------- */
main {
  padding: 50px 0;
}

.container {
  width: 65%;
  background: #f7f5f5;
  margin: 0 auto;
  border: 1px solid #8c8273;
  border-radius: 6px;
}

.content-title {
  font-size: 1.75rem;
  padding: 30px 0 10px 5px;
  border-bottom: 1px solid #8c8273;
  margin-bottom: 0;
}

.container > form {
  padding: 40px 20px;
}

.profile {
  display: flex;
  margin-bottom: 30px;
}

.select-img {
  width: 250px;
  height: 250px;
  margin-right: 20px;
}
.select-img img {
  max-width: 100%;
  max-height: 100%;
  padding: 2px;
  background-color: #fff;
  border: 1px solid #b0a99d;
}
.select-img input {
  width: 100%;
  margin-top: 8px;
  font-size: 0.875rem;
}
.select-img input:focus {
  outline: 0;
}

.delete-image {
  display: block;
  margin: 8px 0;
}

.text {
  flex: 1;
}
.text .user-name {
  color: #ad2b00;
}
.text textarea {
  width: 100%;
  height: 80%;
  background-color: #fbfaf9;
  padding: 6px 12px;
  border: 1px solid #dbd6d3;
  border-radius: 4px;
  color: #574528;
  outline: 0;
}
.text textarea::-moz-placeholder {
  color: #c4beb3;
  font-style: oblique;
}
.text textarea:-ms-input-placeholder {
  color: #c4beb3;
  font-style: oblique;
}
.text textarea::placeholder {
  color: #c4beb3;
  font-style: oblique;
}
.text textarea:focus {
  border-color: #b5ac9f;
}
.text textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e5e8e3 inset;
  -webkit-color: #2b2214;
}

.action {
  text-align: center;
}

.submit-btn {
  padding: 6px 12px;
  background-color: #656e5e;
  border: 1px solid #8c8273;
  border-radius: 4px;
  color: #fff;
}
.submit-btn:hover {
  opacity: 0.9;
}
.submit-btn:active, .submit-btn:focus {
  background-color: #596052;
  outline: 0;
}

/* レスポンシブデザイン
---------------------------------------------------------------------------- */
/*medium
-----------------------*/
@media (max-width: 1000px) {
  /*ヘッダー*/
  .header-nav {
    width: 95%;
  }

  /*メイン*/
  .container {
    width: 75%;
  }
}
/*small
-----------------------*/
@media (max-width: 650px) {
  body {
    font-size: 0.8rem;
  }

  /*ヘッダー*/
  header {
    height: 125px;
    background-size: cover;
  }

  .header-logo a {
    font-size: 3.1rem;
    bottom: -5px;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 2rem;
    color: #fff;
    align-self: flex-end;
    cursor: pointer;
  }

  #close {
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 2.2rem;
    cursor: pointer;
  }

  .overlay.show {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s, transform 0.4s;
    pointer-events: auto;
  }

  .overlay.hide {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease-in, transform 0.4s;
  }

  .overlay {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ede1ce;
    color: #574528;
    z-index: 5;
    transform: translateX(100%);
    transition: transform 0.4s;
  }

  .overlay .auth-name {
    font-size: 14px;
    border-bottom: 1px solid #c4beb3;
    padding: 75px 0 2px 5px;
    margin-bottom: 0;
  }

  .overlay .sp-nav {
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
    display: block;
  }
  .overlay .sp-nav li {
    line-height: 4;
    border-bottom: 1px solid #c4beb3;
  }

  .overlay .sp-link {
    width: 100%;
    height: 100%;
  }
  .overlay .sp-link:hover {
    color: inherit;
  }
  .overlay .sp-link:active {
    color: inherit;
    opacity: 0.9;
  }

  .sp-logout {
    color: inherit;
    background-color: inherit;
    border: none;
  }
  .sp-logout:active, .sp-logout:focus {
    outline: 0;
  }

  /*メイン*/
  main {
    padding: 25px 0;
  }

  .container {
    width: 90%;
  }

  .content-title {
    font-size: 1.2rem;
    padding: 20px 0 10px 5px;
  }

  .container > form {
    padding: 15px 0 20px 0;
    text-align: center;
  }

  .profile {
    display: block;
    padding-top: 25px;
    margin-bottom: 10px;
    position: relative;
  }

  .select-img {
    width: 200px;
    height: 200px;
    margin-right: 0;
    margin-bottom: 8px;
  }
  .select-img input {
    font-size: 0.625rem;
    padding-left: 10px;
  }

  .text .user-name {
    font-size: 1.125rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  .text textarea {
    height: 250px;
    margin-top: 10px;
  }
}